<footer class="container footer-container">
    <a class="item" href="mailto:juanom@ufm.edu"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/gmail.svg" alt="Gmail"></a>
    <a class="item" href="https://www.linkedin.com/in/juan-ochaita-207685334" target="_blank"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/linkedin.svg" alt="LinkedIn"></a>
    <a class="item" href="https://github.com/JuanOchaita" target="_blank"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg" alt="GitHub"></a>
    <button class="item btn-download" onclick="downloadPDF()" title="Descargar CV en PDF">
        <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/adobeacrobatreader.svg" alt="Descargar PDF">
    </button>
</footer>
