<header>
    <div class="header-controls">
        <!-- Selector de idiomas -->
        <app-language-selector></app-language-selector>
        
        <!-- Botón de tema -->
        <button id="theme-toggle-button" class="theme-toggle-button" (click)="toggleTheme()">
            <img src="/icons/clock.png" [attr.alt]="themeIconAlt" class="icon" id="theme-icon">
        </button>
    </div>

    <img src="/images/Perfil.jpg" alt="Juan Ochaita's Photo" class="profile-photo rounded-3">
    <h1>JUAN OCHAITA</h1>
    <p style="color: var(--text-secondary); margin-top: 8px; transition: color 0.3s ease;" data-translate>
        {{ 'Computer Science Engineering' | translate  }}
    </p>

    <div class="splash-container">
        <div class="minecraft-splash" id="greeting-message" data-translate>
            {{ greetingMessage }}
        </div>
    </div>
</header>

<app-nav-bar>
    <app-nav-item 
        [routerLink]="['/proyectos', 'about']"
        iconSrc="/icons/map.png" 
        [text]="'About' | translate" 
        altText="Book"
        (navClick)="navigateToAbout($event)"
    ></app-nav-item>

    <app-nav-item 
        [routerLink]="['/proyectos', 'skills']"
        iconSrc="/icons/diamond_sword.png" 
        [text]="'Skills' | translate" 
        altText="Pickaxe"
        (navClick)="navigateToSkills($event)"
    ></app-nav-item>

    <app-nav-item 
        [routerLink]="['/proyectos', 'experience', 'jobs']"
        iconSrc="/icons/command_block.png" 
        [text]="'Experience' | translate" 
        altText="Pickaxe"
        (navClick)="navigateToExperience($event)"
    ></app-nav-item>

    <app-nav-item 
        href="#contact" 
        iconSrc="/icons/compass.png" 
        [text]="'Contact' | translate" 
        altText="Map"
        (navClick)="scrollToSection($event)"
    ></app-nav-item>
</app-nav-bar>

<app-information-accordion 
    id="about-section"
    iconPath="/icons/map.png" 
    [title]="'About' | translate | uppercase">
    <p>{{ 'Mi nombre es Juan Ochaita, estudiante de la Universidad Francisco Marroquín. Me apasiona la creación de proyectos, el desarrollo de software y la tecnología en general.' | translate }}</p>
</app-information-accordion>

<app-information-accordion  
    id="skills-section"
    iconPath="/icons/diamond_sword.png" 
    [title]="'Skills' | translate | uppercase">
   <ul>
        <li *ngFor="let skill of skills" data-translate>
            {{ skill | translate }}
        </li>
    </ul>
</app-information-accordion>

<app-information-accordion
    id="jobs-subsection"
    iconPath="/icons/redstone.png" 
    [title]="'Jobs' | translate | uppercase">
    <ul>
        <li *ngFor="let job of jobs" data-translate>
            {{ job | translate }}
        </li>
    </ul>
</app-information-accordion>

<app-minecraft-card 
    id="education" 
    iconSrc="/icons/book.png" 
    iconAlt="Diamond Icon"
    [title]="'Education' | translate | uppercase">
    
    <p class="grid-item-description" data-translate>
        <strong data-translate>{{ 'Description:' | translate }}</strong> 
        {{ 'Juan Ochaita\'s academic background' | translate }}
    </p>
    
    <!-- Componente de la API para gestión dinámica de educación -->
    <app-education></app-education>
</app-minecraft-card>

<app-minecraft-card 
    id="projects" 
    iconSrc="/icons/diamond_pickaxe.png" 
    iconAlt="Diamond Icon"
    [title]="'Projects' | translate | uppercase">
    
    <p class="grid-item-description" data-translate>
        <strong data-translate>{{ 'Description:' | translate }}</strong> 
        {{ 'Professional experience and projects' | translate }}
    </p>
    
    <router-outlet></router-outlet>
</app-minecraft-card>

<footer id="contact">    
    <app-nav-bar>
        <app-nav-item 
            href="mailto:juanom@ufm.edu" 
            iconSrc="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/gmail.svg" 
            [text]="'' | translate" 
            altText="Gmail"
        ></app-nav-item>

        <app-nav-item 
            href="https://www.linkedin.com/in/juan-ochaita-207685334" 
            iconSrc="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/linkedin.svg" 
            [text]="'' | translate" 
            altText="LinkedIn"
        ></app-nav-item>

        <app-nav-item 
            href="https://github.com/JuanOchaita" 
            iconSrc="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg" 
            [text]="'' | translate" 
            altText="GitHub"
        ></app-nav-item>

        <app-nav-item 
            href="javascript:void(0)" 
            (click)="downloadPDF()"
            iconSrc="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/adobeacrobatreader.svg" 
            [text]="'' | translate" 
            altText="Download CV in PDF"
        ></app-nav-item>
    </app-nav-bar>
</footer>