<section id="skills" class="grid-container">
  <div class="accordion" id="workExperienceMainAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#contactoContent"
          aria-expanded="true"
          aria-controls="contactoContent"
        >
          <img
            [src]="iconPath"
            [alt]="title"
            class="minecraft-icon-large"
          />
          {{ title }}
        </button>
      </h2>
      <div
        id="contactoContent"
        class="accordion-collapse collapse show"
        data-bs-parent="#contactoMainAccordion"
      >
        <div class="accordion-body">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</section>
